# drafts folder
_drafts/

# Mac system files
.DS_Store
assets/.DS_Store
static/.DS_Store
_includes/.DS_Store

# generated site folder
_site/

# jekyll cahce
.jekyll-cache/

# gemlock
Gemfile 
Gemfile.lock
sunflowers/sunflower2.md
sunflowers/sunflowers-6.md
sunflowers/sunflowers.md
sunflowers/sunflowers2.md
sunflowers/sunflowers4.md
sunflowers/sunflowrs5.md
sunflowers/master.js